<section>
  <section>
    <h2>Khair Alanam</h2>
    <h3>DOB: 28/12/2002</h3>
    <h3>B.Tech in Computer Science and Engineering</h3>
  </section>
  <section>
    <h2>anaambasheer@gmail.com</h2>
    <section>
      <a href="https://www.linkedin.com/in/khair-alanam-b27b69221/">LinkedIn</a>
      <a href="https://www.twitter.com/khair_alanam">Twitter</a>
      <a href="https://dev.to/khair_al_anam">Devto</a>
    </section>
    <section>
      <a href="https://github.com/khairalanam">GitHub</a>
      <a href="https://leetcode.com/khair_al_anam/">Leetcode</a>
      <a href="https://www.behance.net/khairalanam">Behance</a>
    </section>
  </section>
</section>
