<section
  class="flex flex-col gap-2 justify-between px-6 md:flex-row md:px-8 lg:px-10 text-xl md:text-2xl lg:text-3xl md:gap-4"
>
  <section class="self-start">
    <h1 class="font-semibold">
      Bachelor of Technology in Computer Science and Engineering
    </h1>
    <h2 class="italic text-lg md:text-xl lg:text-2xl">
      National Institute of Technology Rourkela
    </h2>
  </section>
  <section class="flex gap-2 md:flex-col md:self-end">
    <h2 class="md:self-end font-semibold">2021-2025</h2>
    <h3 class="md:self-end italic text-lg md:text-xl lg:text-2xl">
      CGPA: 8.56/10
    </h3>
  </section>
</section>
