<section>
  <section>
    <h1>Bachelor of Technology in Computer Science and Engineering</h1>
    <h2>National Institute of Technology Rourkela</h2>
  </section>
  <section>
    <h2>2021-2025</h2>
    <h3>CGPA: 8.56/10</h3>
  </section>
</section>
