<section>
  <section>
    <h2>GPRG</h2>
    <h3>A website to generate your own custom GitHub profile readmes</h3>
  </section>
  <section>
    <h2>Full-fledged blog using CMS</h2>
    <h3>A blog that is mainly focused on Machine Learning and Deep Learning</h3>
  </section>
  <section>
    <h2>Color Palette Generator</h2>
    <h3>A simple application to generate color schemes</h3>
  </section>
</section>
