<section>
  <section>
    <h2>Programming Languages:</h2>
    <h2>Python, JavaScript, Golang, TypeScript, Rust, C/C++, HTML, CSS</h2>
  </section>
  <section>
    <h2>Libraries and Frameworks:</h2>
    <h2>
      ReactJS, NextJS, TailwindCSS, ElectronJS, Strapi CMS, AstroJS, Numpy
    </h2>
  </section>
  <section>
    <h2>Dev Tools</h2>
    <h2>Git, GitHub, ESLint, Prettier, CodiumAI, Postman</h2>
  </section>
  <section>
    <h2>Databases:</h2>
    <h2>MySQL, MS SQL Server, DynamoDB, RDS</h2>
  </section>
  <section>
    <h2>Cloud Technologies</h2>
    <h2>AWS, IAM, S3, Route 53, CloudFront</h2>
  </section>
  <section>
    <h2>Relevant Coursework:</h2>
    <h2>
      Data Structures & Algorithms, Object Oriented System Design, Database
      Management System, Operating Systems
    </h2>
  </section>
  <section>
    <h2>Areas of Interest:</h2>
    <h2>Web Development, Cloud Computing, ML/AI Development, UI/UX Design</h2>
  </section>
  <section>
    <h2>Soft Skills:</h2>
    <h2>
      Time Management, Problem Solving, Lifelong-learning, Teamwork, Leadership,
      Adaptability, Task Management
    </h2>
  </section>
</section>
